<h1>Cocktail and Dreams ...</h1>

<div class = "banner">
  <% @cocktail.each do |cocktail| %>
  <div>
    <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
  </div>
    <% end %>
</div>

<br>
<br>
<br>
<br>
<%= link_to "Create new Cocktail", new_cocktail_path  %>

